@mixin avatar($width, $status-width){
  position: relative;
  display: inline-block;
  width: $width;

  .img-avatar{
    width: $width;
    height: $width;
  }

  .avatar-status{
    position: absolute;
    right: 0;
    bottom: 0;
    width: $status-width;
    height: $status-height;
    border: 1px solid #fff;
    border-radius: 50em;
  }
}

@mixin borders($borders){
  @each $border in $borders{
    $direction: nth($border, 1);
    $size: map-get(map-get($borders, $direction), size);
    $style: map-get(map-get($borders, $direction), style);
    $color: map-get(map-get($borders, $direction), color);
    @if $direction == "all" {
      border: $size $style $color;
    } @else if $direction == "top" {
      border-top: $size $style $color
    } @else if $direction == "right" {
      border-right: $size $style $color;
    } @else if $direction == "bottom" {
      border-bottom: $size $style $color;
    } @else if $direction == "left" {
      border-left: $size $style $color;
    }
  }
}