@import 'variables';

@font-face {
    font-family: pi-icon;
    src: url(#{$pi-icon-font-path}/pi-icon.eot);
    src: url(#{$pi-icon-font-path}/pi-icon.eot#iefix) format("embedded-opentype"),
        url(#{$pi-icon-font-path}/pi-icon.woff2) format("woff2"),
        url(#{$pi-icon-font-path}/pi-icon.woff) format("woff"),
        url(#{$pi-icon-font-path}/pi-icon.ttf) format("truetype"),
        url(#{$pi-icon-font-path}/pi-icon.svg#br-icon) format("svg");
    font-weight: 400;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:pi-icon;
        src: url(#{$pi-icon-font-path}/pi-icon.svg#br-icon) format("svg")
    }
}

.icon:before {
    font-family: pi-icon;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon [class*=" icon-"]:before {
    font-family: pi-icon;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon.icon-heart:before {
    content: '\e800'
}

.icon.icon-basket:before {
    content: '\e801'
}

.icon.icon-coffee-machine:before {
    content: '\e802'
}

.icon.icon-connection:before {
    content: '\e803'
}

.icon.icon-dvd:before {
    content: '\e804'
}

.icon.icon-fridge:before {
    content: '\e805'
}

.icon.icon-idea:before {
    content: '\e806'
}

.icon.icon-karaoke:before {
    content: '\e807'
}

.icon.icon-leather:before {
    content: '\e808'
}

.icon.icon-clock:before {
    content: '\e809'
}

.icon.icon-map:before {
    content: '\e80a'
}

.icon.icon-location:before {
    content: '\e80b'
}

.icon.icon-share:before {
    content: '\e80c'
}

.icon.icon-star:before {
    content: '\e80d'
}

.icon.icon-luggage:before {
    content: '\e80e'
}

.icon.icon-monitor:before {
    content: '\e80f'
}

.icon.icon-music-player:before {
    content: '\e810'
}

.icon.icon-oven:before {
    content: '\e811'
}

.icon.icon-plug:before {
    content: '\e812'
}

.icon.icon-radio:before {
    content: '\e813'
}

.icon.icon-arrow-up:before {
    content: '\e814'
}

.icon.icon-arrow-right:before {
    content: '\e815'
}

.icon.icon-arrow-down:before {
    content: '\e816'
}

.icon.icon-arrow-left:before {
    content: '\e817'
}

.icon.icon-open-up:before {
    content: '\e818'
}

.icon.icon-open-right:before {
    content: '\e819'
}

.icon.icon-open-down:before {
    content: '\e81a'
}

.icon.icon-open-left:before {
    content: '\e81b'
}

.icon.icon-star-half:before {
    content: '\e81c'
}

.icon.icon-menu:before {
    content: '\e81d'
}

.icon.icon-thick:before {
    content: '\e81e'
}

.icon.icon-television:before {
    content: '\e81f'
}

.icon.icon-toilet:before {
    content: '\e820'
}

.icon.icon-usb:before {
    content: '\e821'
}

.icon.icon-wheelchair:before {
    content: '\e822'
}

.icon.icon-cog:before {
    content: '\e823'
}

.icon.icon-window:before {
    content: '\e824'
}

.icon.icon-comment:before {
    content: '\e825'
}

.icon.icon-driver:before {
    content: '\e826'
}

.icon.icon-window-tinted:before {
    content: '\e827'
}

.icon.icon-phone:before {
    content: '\e828'
}

.icon.icon-info:before {
    content: '\e829'
}

.icon.icon-emo-unhappy:before {
    content: '\e82a'
}

.icon.icon-air-conditioner:before {
    content: '\e82b'
}

.icon.icon-emo-happy:before {
    content: '\e82c'
}

.icon.icon-warn:before {
    content: '\e82d'
}

.icon.icon-lock-open:before {
    content: '\e82e'
}

.icon.icon-cookie:before {
    content: '\e82f'
}

.icon.icon-add:before {
    content: '\e830'
}

.icon.icon-cancel:before {
    content: '\e831'
}

.icon.icon-login:before {
    content: '\e832'
}

.icon.icon-logout:before {
    content: '\e833'
}

.icon.icon-search:before {
    content: '\e834'
}

.icon.icon-peoples:before {
    content: '\e835'
}

.icon.icon-user-male:before {
    content: '\e836'
}

.icon.icon-leaf:before {
    content: '\e837'
}

.icon.icon-spin:before {
    content: '\e839'
}

.icon.icon-flash:before {
    content: '\e83a'
}

.icon.icon-credit-card:before {
    content: '\e83d'
}

.icon.icon-bus:before {
    content: '\e83e'
}

.icon.icon-child:before {
    content: '\e83f'
}

.icon.icon-calendar:before {
    content: '\e841'
}

.icon.icon-pencil:before {
    content: '\e842'
}

.icon.icon-chart-bar:before {
    content: '\e843'
}

.icon.icon-eye-off:before {
    content: '\e844'
}

.icon.icon-eye:before {
    content: '\e845'
}

.icon.icon-updown-circle:before {
    content: '\e846'
}

.icon.icon-quote-left:before {
    content: '\f10d'
}

.icon.icon-quote-right:before {
    content: '\f10e'
}

.icon.icon-shield:before {
    content: '\f132'
}

.icon.icon-tree:before {
    content: '\f1bb'
}

.icon.icon-chat:before {
    content: '\e838'
}

.icon.icon-chat-empty:before {
    content: '\f0e6'
}
